<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #ruleForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="rule.id">{{l("EditRule")}}</span>
                        <span *ngIf="!rule.id">{{l("CreateNewRule")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Rule_Name">{{l("Name")}}</label>
                        <input type="text" id="Rule_Name" class="form-control col-md-6" [(ngModel)]="rule.name" name="Name" minlength="2" maxlength="200" required />
                    </div>

                    <div class="form-group m-form__group">
                        <label for="TransactionTypeName">{{l("TransactionType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="TransactionTypeName" name="transactionTypeName" [(ngModel)]="transactionTypeName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTransactionTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setTransactionTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="rule.transactionTypeId" [(ngModel)]="rule.transactionTypeId" type="text" hidden>


                    <div class="form-group">
                        <label for="Rule_Description">{{l("Description")}}</label>
                        <textarea id="Rule_Description" class="form-control" [(ngModel)]="rule.description" name="Description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="Rule_Severity">{{l("Severity")}}</label>
                        <select class="form-control col-md-4" name="Severity" id="Rule_Severity" [(ngModel)]="rule.severity">
                            <option value="0">{{l('Enum_Severity_0')}}</option>

                            <option value="1">{{l('Enum_Severity_1')}}</option>

                            <option value="2">{{l('Enum_Severity_2')}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Rule_Action">{{l("Action")}}</label>
                        <select class="form-control col-md-4" name="Action" id="Rule_Action" [(ngModel)]="rule.action">
                            <option value="0">{{l('Enum_Actions_0')}}</option>

                            <option value="1">{{l('Enum_Actions_1')}}</option>

                            <option value="2">{{l('Enum_Actions_2')}}</option>
                        </select>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <tabset class="tab-container tabbable-line">
                        <tab heading="{{l('Definition')}}" customClass="m-tabs__item">
                            <div class="form-group m-form__group">
                                <label>Configure your rule</label>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" *ngIf="ruleConfigurations.length > 0">Connector</th>
                                            <th scope="col">Data Point</th>
                                            <th scope="col">Operand</th>
                                            <th scope="col">Value</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td *ngIf="ruleConfigurations.length > 0">
                                                <select class="form-control" name="item_Connector" [(ngModel)]="item.connector">
                                                    <option value="And">And</option>
                                                    <option value="Or">Or</option>
                                                    <option value="Then">Then</option>
                                                </select>

                                            </td>
                                            <td>
                                                <div class="form-group m-form__group">

                                                    <div class="input-group">
                                                        <input class="form-control" id="DataPointName" name="dataPointName" [(ngModel)]="item.dataPointName" type="text" disabled />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary blue" (click)="openSelectDataPointModal(item.id)" type="button"><i class="fa fa-search"></i> </button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <input class="form-control" name="item.dataPointId" [(ngModel)]="item.dataPointId" type="text" hidden />

                                            </td>
                                            <td>
                                                <select class="form-control" name="operand" id="RuleConfiguration_Operand" [(ngModel)]="item.operand">
                                                    <option value="==">Equals</option>
                                                    <option value="!=">Not Equal</option>
                                                    <option value=">">Greater Than</option>
                                                    <option value=">=">Greater or Equal</option>
                                                    <option value="<">Less Than</option>
                                                    <option value="<=">Not Equal</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input *ngIf="item.dataType==0" type="text" id="RuleConfiguration_Value" class="form-control" [(ngModel)]="item.value" name="Value" />
                                                <input *ngIf="item.dataType==3" type="date" id="RuleConfiguration_Value" class="form-control" [(ngModel)]="item.value" name="Value" />
                                                <input *ngIf="item.dataType==1 || item.dataType==2" type="number" id="RuleConfiguration_Value" class="form-control" [(ngModel)]="item.value" name="Value" />

                                            </td>
                                            <td class="pull-right">
                                                <button class="btn btn-success btn-sm" (click)="addLine()" type="button"><i class="fa fa-plus"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                            <div class="form-group m-form__group">
                                <label>Defined Rules</label>
                                <table class="table table-striped">
                                    <tr>

                                        <th scope="col">Data Point</th>
                                        <th scope="col">Operand</th>
                                        <th scope="col">Value</th>
                                        <th scope="col">Connector</th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr *ngFor="let newItem of ruleConfigurations">


                                        <td>{{newItem.dataPointName}}</td>
                                        <td>{{newItem.operand}}</td>
                                        <td>{{newItem.value}}</td>
                                        <td>{{newItem.connector}}</td>
                                        <td>
                                            <button *ngIf="newItem.ind  == (ruleConfigurations.length-1)" class="btn btn-danger btn-sm" (click)="removeLine()" type="button"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </tab>
                        <tab heading="{{l('Escalation')}}" customClass="m-tabs__item">
                            <div class="form-group m-form__group">
                                <label>Escalate this exception to these user(s):</label>
                                <table class="table table-striped">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">User</th>
                                        <th scope="col">
                                            <button class="btn btn-success btn-sm" (click)="openSelectUserModal()" type="button"><i class="fa fa-plus"></i>Add New User</button>
                                        </th>
                                    </tr>
                                    <tr *ngFor="let newItem of ruleEscalations">
                                        <td>{{newItem.ind}}</td>
                                        <td scope="row">{{newItem.displayName}}</td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" (click)="removeUser(newItem.ind)" type="button"><i class="fa fa-times"></i>Remove</button>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </tab>
                    </tabset>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!ruleForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
    <transactionTypeLookupTableModal #transactionTypeLookupTableModal (modalSave)="getNewTransactionTypeId()"></transactionTypeLookupTableModal>
    <dataPointLookupTableModal #dataPointLookupTableModal (modalSave)="setDataPoint()"></dataPointLookupTableModal>
    <userLookupTableModal #userLookupTableModal (modalSave)="getNewUserId()"></userLookupTableModal>

</div>
