<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Rules")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("RulesHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Rules.Create')" (click)="createRule()" class="btn btn-primary blue"><i
                        class="fa fa-plus"></i> {{l("CreateNewRule")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-2">
                                <select class="form-control custom-select" name="status" id="Rule_Status"
                                    [(ngModel)]="approvalStatusFilter" (change)="getRules()">
                                    <option *ngFor="let item of RuleStatusDropdown" value="{{item.value}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-xl-10">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getRules()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="m-separator m-separator--dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="NameFilter">{{l("Name")}}</label>
                                    <input type="text" class="form-control" id="NameFilter" name="nameFilter"
                                        [(ngModel)]="nameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="SeverityFilterSelect">{{l("Severity")}}</label>
                                <select class="form-control" name="SeverityFilter" id="SeverityFilterSelect"
                                    [(ngModel)]="severityFilter">
                                    <option value="-1">{{l("All")}}</option>
                                    <option value="0">{{l('Enum_Severity_0')}}</option>

                                    <option value="1">{{l('Enum_Severity_1')}}</option>

                                    <option value="2">{{l('Enum_Severity_2')}}</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="ActionFilterSelect">{{l("Action")}}</label>
                                <select class="form-control" name="ActionFilter" id="ActionFilterSelect"
                                    [(ngModel)]="actionFilter">
                                    <option value="-1">{{l("All")}}</option>
                                    <option value="0">{{l('Enum_Actions_0')}}</option>

                                    <option value="1">{{l('Enum_Actions_1')}}</option>

                                    <option value="2">{{l('Enum_Actions_2')}}</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="TransactionTypeNameFilter">({{l("TransactionType")}})
                                        {{l("Name")}}</label>
                                    <input type="text" class="form-control" id="TransactionTypeNameFilter"
                                        name="transactionTypeNameFilter" [(ngModel)]="transactionTypeNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getRules($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 300px" pSortableColumn="rule.name">
                                        {{l('Rule Name')}}
                                        <p-sortIcon field="rule.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="transactionTypeName">
                                        {{l('Transaction Type')}}
                                        <p-sortIcon field="transactionTypeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="rule.severity">
                                        {{l('Severity')}}
                                        <p-sortIcon field="rule.severity"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="rule.action">
                                        {{l('Action')}}
                                        <p-sortIcon field="rule.action"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="rule.ruleStatus">
                                        {{l('Status')}}
                                        <p-sortIcon field="rule.ruleStatus"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px"
                                        [hidden]="!isGrantedAny('Pages.Rules.Edit', 'Pages.Rules.Delete')"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width:300px">
                                        <span class="ui-column-title"> {{l('Rule Name')}}</span>
                                        {{record.rule.name}}
                                        <span *ngIf="record.rule.ruleStatus == RULE_STATUS_PUBLISHED"
                                            class="m-badge m-badge--{{record.rule.active ? 'success' : 'danger'}} m-badge--wide m-badge--pill">
                                            {{record.rule.active ? 'Active' : 'Not active'}}
                                        </span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Transaction Type')}}</span>
                                        {{record.transactionTypeName}}
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Severity')}}</span>
                                        {{l('Enum_Severity' + severity[record.rule.severity])}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Action')}}</span>
                                        {{l('Enum_Actions' + actions[record.rule.action])}}
                                    </td>
                                    <td style="width:150px">
                                        <span
                                            class="m-badge m-badge--{{getRuleStatusBadgeCSSClass(record.rule.ruleStatus)}} m-badge--wide m-badge--pill">
                                            <span class=""> {{l('EnumRuleStatus_' + record.rule.ruleStatus )}} </span>
                                        </span>&nbsp;
                                    </td>
                                    <td style="width: 100px"
                                        [hidden]="!isGrantedAny('Pages.Rules.Edit', 'Pages.Rules.Delete')">
                                        <div class="btn-group m-btn-group m-btn-group--pill" dropdown container="body">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                (click)="viewRule(record.rule.id)">
                                                <i class="fa fa-info-circle"></i> View
                                            </button>
                                            <button class="dropdown-toggle btn btn-sm btn-primary dropdown-toggle-split"
                                                dropdownToggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Rules.Edit') && record.rule.ruleStatus == RULE_STATUS_DRAFT"
                                                        (click)="editRule(record.rule.id)">
                                                        <i class="fa fa-edit"></i> {{l('Edit')}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Rules.Edit') && record.rule.ruleStatus == RULE_STATUS_DRAFT"
                                                        (click)="updateStatus(record.rule.id, RULE_STATUS_SUBMITTED)">
                                                        <i class="fa fa-check"></i> {{l('Submit for Approval')}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Rules.Approve') && record.rule.ruleStatus == RULE_STATUS_SUBMITTED"
                                                        (click)="updateStatus(record.rule.id, RULE_STATUS_PUBLISHED)">
                                                        <i class="fa fa-check-double"></i> {{l('Publish')}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Rules.Approve') && record.rule.ruleStatus == RULE_STATUS_SUBMITTED"
                                                        (click)="updateStatus(record.rule.id, RULE_STATUS_DRAFT)">
                                                        <i class="fa fa-times"></i> {{l('Reject')}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Rules.Activate') && record.rule.ruleStatus == RULE_STATUS_PUBLISHED"
                                                        (click)="toogleActvation(record.rule)">
                                                        <span *ngIf="record.rule.active"><i class="fa fa-times"></i>
                                                            {{l('Deactivate')}}</span>
                                                        <span *ngIf="!record.rule.active"><i class="fa fa-check"></i>
                                                            {{l('Activate')}}</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" (click)="makeCopy(record.rule)">
                                                        <i class="fa fa-copy"></i> Make Copy
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Rules.Delete') && record.rule.ruleStatus == RULE_STATUS_DRAFT"
                                                        (click)="deleteRule(record.rule)">
                                                        <i class="fa fa-trash"></i> {{l('Delete')}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                        (click)="showHistory(record.rule)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getRules($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditRuleModal #createOrEditRuleModal (modalSave)="getRules()"></createOrEditRuleModal>
    <viewRuleModal #viewRuleModal></viewRuleModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
</div>