<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #taskForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Close Case
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="m-form__group form-group col-md-12">
                            <label for="Task_Priority">Conclusion</label>
                            <div class="m-radio-inline">
                                <label class="m-radio m-radio--bold m-radio--state-primary">
                                    <input type="radio" name="Priority" [value]="1" [(ngModel)]="caseResolution.conclusion"> Fraud
                                    <span></span>
                                </label>
                                <label class="m-radio m-radio--bold m-radio--state-primary">
                                    <input type="radio" name="Priority" [value]="2" [(ngModel)]="caseResolution.conclusion"> False Positive
                                    <span></span>
                                </label>
                                <label class="m-radio m-radio--bold m-radio--state-primary">
                                    <input type="radio" name="Priority" [value]="3"  [(ngModel)]="caseResolution.conclusion"> Attempted Fraud
                                    <span></span>
                                </label>
                            </div>
                        </div>


                        <div class="form-group col-md-12">
                            <label for="Comment">{{l("Comment")}}</label>
                            <textarea id="Comment" class="form-control" [(ngModel)]="caseResolution.closureComment" name="Comment" rows="5"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!taskForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-check"></i> 
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
