<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #dataPointForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="dataPoint.id">{{l("Edit Standing Data")}}</span>
                        <span *ngIf="!dataPoint.id">{{l("Create Standing Data")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="dataPoint_Name">{{l("Name")}}</label>
                        <input type="text" id="dataPoint_Name" class="form-control" [(ngModel)]="dataPoint.name" name="Name" minlength="2" maxlength="200" required />
                    </div>


                    <div class="form-group">
                        <label for="dataPoint_Description">{{l("Description")}}</label>
                        <textarea id="dataPoint_Description" class="form-control" [(ngModel)]="dataPoint.description" name="Description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="dataPoint_DataType">{{l("DataType")}}</label>
                        <select class="form-control" name="DataType" id="dataPoint_DataType" [(ngModel)]="dataPoint.dataType">
                            <option value="0">{{l('Enum_DataTypes_0')}}</option>

                            <option value="1">{{l('Enum_DataTypes_1')}}</option>

                            <option value="2">{{l('Enum_DataTypes_2')}}</option>

                            <option value="3">{{l('Enum_DataTypes_3')}}</option>


                        </select>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!dataPointForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
		 
</div>
