<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #payloadForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="payload.id">{{l("EditPayload")}}</span>
                        <span *ngIf="!payload.id">{{l("CreateNewPayload")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Payload_Name">{{l("Name")}}</label>
                        <input type="text" id="Payload_Name" class="form-control" [(ngModel)]="payload.name" name="Name" minlength="2" maxlength="200" required />
                    </div>

                    <div class="form-group m-form__group">
                        <label for="TransactionTypeName">What transaction type generates this payload?</label>
                        <div class="input-group">
                            <input class="form-control" id="TransactionTypeName" name="transactionTypeName" [(ngModel)]="transactionTypeName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTransactionTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setTransactionTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="payload.transactionTypeId" [(ngModel)]="payload.transactionTypeId" type="text" required hidden>


                    <div class="form-group">
                        <label for="Payload_Description">{{l("Description")}}</label>
                        <textarea id="Payload_Description" class="form-control" [(ngModel)]="payload.description" name="Description"></textarea>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <div class="form-group m-form__group">
                        <label>Define your payload properties</label>
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Name</th>
                                    <th scope="col">Data Type</th>
                                    <th scope="col">Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-control" name="item.name" [(ngModel)]="item.name" type="text"  />

                                    </td>
                                    <td>
                                        <select class="form-control" name="DataType" id="item_DataType" [(ngModel)]="item.dataType" >
                                            <option value="0">{{l('Enum_DataTypes_0')}}</option>
                                            <option value="1">{{l('Enum_DataTypes_1')}}</option>
                                            <option value="2">{{l('Enum_DataTypes_2')}}</option>
                                            <option value="3">{{l('Enum_DataTypes_3')}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" name="item_description" id="item_Description" [(ngModel)]="item.description" ></textarea>
                                    </td>
                                    <td class="pull-right"></td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <button class="btn btn-success btn-sm" (click)="addLine()" type="button"><i class="fa fa-plus"></i>Add Property</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                    <br />
                    <hr />
                    <br />
                    <div class="form-group m-form__group">
                        <label>Defined Properties</label>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td scope="col">#</td>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Data Type</th>
                                    <th scope="col"></th>
                                </tr>
                                <tr *ngFor="let newItem of properties">
                                    <td scope="row">{{newItem.ind}}</td>
                                    <td>{{newItem.name}}</td>
                                    <td>{{newItem.description}}</td>
                                    <td>{{newItem.dataTypeName}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" (click)="removeLine(newItem.ind)" type="button"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!payloadForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<transactionTypeLookupTableModal #transactionTypeLookupTableModal (modalSave)="getNewTransactionTypeId()"></transactionTypeLookupTableModal>
		 
</div>
