<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Data Points")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("Manage payloads and standing data.")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
                <!--<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>-->
                <!--<button *ngIf="isGranted('Pages.Payloads.Create')" (click)="createDataPoint()"
                class="btn btn-primary blue">
            <i class="fa fa-plus"></i> {{l("New Standing Data")}}
        </button>

        <button *ngIf="isGranted('Pages.Payloads.Create')" (click)="createPayload()"
                class="btn btn-primary blue">
            <i class="fa fa-plus"></i> {{l("CreateNewPayload")}}
        </button>
    </div>-->


                <div class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-left" m-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-dropdown__toggle btn btn-brand dropdown-toggle">
                Create New
                    </a>
                    <div class="m-dropdown__wrapper" style="z-index: 101;">
                        <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
               
                                        <li class="m-nav__item">
                                            <a class="m-nav__link" (click)="createDataPoint()">
                                                <i class="m-nav__link-icon flaticon-add-label-button"></i>
                                                <span class="m-nav__link-text">Data Point</span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a  class="m-nav__link" (click)="createPayload()">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">Payload</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getPayloads()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="m-separator m-separator--dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="NameFilter">{{l("Name")}}</label>
                                    <input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="TransactionTypeNameFilter">({{l("TransactionType")}}) {{l("Name")}}</label>
                                    <input type="text" class="form-control" id="TransactionTypeNameFilter" name="transactionTypeNameFilter" [(ngModel)]="transactionTypeNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                 (onLazyLoad)="getPayloads($event)"
                                 [value]="primengTableHelper.records"
                                 rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 [scrollable]="true"
                                 ScrollWidth="100%"
                                 [responsive]="primengTableHelper.isResponsive"
                                 [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Payloads.Edit', 'Pages.Payloads.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="payload.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="payload.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="dataClass">
                                        {{l('Data Class')}}
                                        <!--<p-sortIcon field="dataClass"></p-sortIcon>-->
                                    </th>  
                                    <th style="width: 150px" pSortableColumn="transactionTypeName">
                                        {{l('Transaction Type')}}
                                        <p-sortIcon field="transactionTypeName"></p-sortIcon>
                                    </th>

                                    <th style="width: 150px">
                                        {{l('Data Type')}}
                                        <!--<p-sortIcon field="dataType"></p-sortIcon>-->
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Payloads.Edit', 'Pages.Payloads.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <!--<li>
                                                    <a href="javascript:;"
                                                       (click)="viewPayloadModal.show(record)">{{l('View')}}</a>
                                                </li>-->
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Payloads.Edit')"
                                                       (click)="editDataPoint(record)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Payloads.Delete')"
                                                       (click)="deletePayload(record)">{{l('Delete')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Name')}}</span>
                                        {{record.name}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Data Class')}}</span>
                                        {{record.dataClass}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Transaction Type')}}</span>
                                        {{record.transactionTypeName}}
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Data Type')}}</span>
                                        {{record.dataType}}
                                    </td>


                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getPayloads($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditPayloadModal #createOrEditPayloadModal (modalSave)="getPayloads()"></createOrEditPayloadModal>
    <createOrEditDataPointModal #createOrEditDataPointModal (modalSave)="getPayloads()"></createOrEditDataPointModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
</div>
