<div [@routerTransition]>
  <div class="m-content">
    <div class="m-portlet m-portlet--rounded m-portlet--mobile m-portlet--primary m-portlet--head-solid-bg">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                <span *ngIf="rule.id">{{l("EditRule")}}</span>
                <span *ngIf="!rule.id">{{l("CreateNewRule")}}</span>
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <div class="btn-group m-btn-group m-btn-group--pill" role="group">
            <button type="submit" class="m-btn btn btn-default" 
              [disabled]="!ruleForm.form.valid" [buttonBusy]="saving" (click)="save()"
              [busyText]="l('SavingWithThreeDot')">
              <i class="fa fa-save"></i> <span>{{l("Save")}}</span>
            </button>
            <button type="button" class="m-btn btn btn-default" (click)="goBack()">
              <i class="fa fa-reply"></i> Back
            </button>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form #ruleForm="ngForm" novalidate autocomplete="off">
          <tabset class="tab-container tabbable-line">
            <tab heading="Basic Information" customClass="m-tabs__item">
                <div class="row">
                    <div class="form-group col-md-4">
                      <label for="Rule_Name">{{l("Name")}}</label>
                      <input type="text" id="Rule_Name" class="form-control" [(ngModel)]="rule.name" name="Name"
                        minlength="2" maxlength="200" required />
                    </div>
        
                    <div class="form-group m-form__group col-md-4">
                      <label for="TransactionTypeName">{{l("TransactionType")}}</label>
                      <select name="transactionTypeName" id="TransactionTypeName" [(ngModel)]="rule.transactionTypeId"
                        class="form-control custom-select" required>
                        <option *ngFor="let item of transactionTypeDropdown" value="{{item.value}}">{{item.name}}</option>
                      </select>
                    </div>
        
                    <div class="form-group col-md-4">
                        <label for="Rule_Severity">{{l("Severity")}}</label>
                        <select class="form-control custom-select" name="Severity" id="Rule_Severity" [(ngModel)]="rule.severity">
                          <option value="0">{{l('Enum_Severity_0')}}</option>
          
                          <option value="1">{{l('Enum_Severity_1')}}</option>
          
                          <option value="2">{{l('Enum_Severity_2')}}</option>
                        </select>
                      </div>
        
        
                    <div class="form-group col-md-8">
                      <label for="Rule_Description">{{l("Description")}}</label>
                      <textarea id="Rule_Description" class="form-control" [(ngModel)]="rule.description"
                        name="Description" rows="5"></textarea>
                    </div>
        
                    <div class="form-group col-md-4">
                        <label for="Rule_Action">{{l("Action")}}</label>
                        <select class="form-control custom-select" name="Action" id="Rule_Action" [(ngModel)]="rule.action">
                          <option value="0">{{l('Enum_Actions_0')}}</option>
          
                          <option value="1">{{l('Enum_Actions_1')}}</option>
          
                          <option value="2">{{l('Enum_Actions_2')}}</option>
                        </select>
                      </div>
        
                  </div>
            </tab>
            <tab heading="{{l('Definition')}}" customClass="m-tabs__item">
              <div class="form-group m-form__group">
                <div class="row">
                  <div class="col">
                      <select class="form-control custom-select col col-md-4" name="baseConnector" [(ngModel)]="selectedBaseConnector">
                          <option value="And">ALL</option>
                          <option value="Or">ANY</option>
                      </select>
                  </div>
                  <div class="col">
                      <button type="button" class="btn btn-outline-success m-btn m-btn--icon m-btn--pill pull-right" (click)="addGroup()">
                          <i class="fa fa-plus"></i> New Group
                        </button>
                  </div>
                </div>
                <hr>
                <div *ngFor="let ruleGroup of ruleGroups" class="row">
                  <div class="col-md-12">
                    <div class="rule-group">
                      <div class="row">
                          <div class="col-md-2">
                              <select class="form-control custom-select" name="item_Connector_{{ruleGroup.groupName}}" [(ngModel)]="ruleGroup.connector">
                                  <option value="And">ALL</option>
                                  <option value="Or">ANY</option>
                              </select><br>
                              <button class="btn btn-outline-danger m-btn m-btn--icon btn-block btn-sm mt-2" (click)="removeGroup(ruleGroup)">
                                <i class="fa fa-times"></i> Remove Group
                              </button>
                          </div>
                          <div class="col-md-9">
                              <table *ngIf="newRuleForGroup == ruleGroup.groupName" class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col" style="width: 30%">Data Point</th>
                                      <th scope="col" style="width: 30%">Operand</th>
                                      <th scope="col" style="width: 30%">Value</th>
                                      <th scope="col" style="width: 10%"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="form-group m-form__group">

                                            <div class="input-group">
                                                <input class="form-control" id="DataPointName" name="dataPointName" [(ngModel)]="item.dataPointName" type="text" disabled />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" (click)="openSelectDataPointModal(item.id)" type="button"><i class="fa fa-search"></i> </button>
                                                </div>

                                            </div>
                                        </div>
                                        <input class="form-control" name="item.dataPointId" [(ngModel)]="item.dataPointId" type="text" hidden />
                                      </td>
                                      <td>
                                        <select class="form-control" name="operand" id="RuleConfiguration_Operand"
                                          [(ngModel)]="item.operand">
                                          <option value="==">Equals</option>
                                          <option value="!=">Not Equal</option>
                                          <option value=">">Greater Than</option>
                                          <option value=">=">Greater or Equal</option>
                                          <option value="<">Less Than</option>
                                          <option value="<=">Lesser or Equal</option>
                                        </select>
                                      </td>
                                      <td>
                                        <input *ngIf="item.dataType==0" type="text" id="RuleConfiguration_Value" class="form-control"
                                          [(ngModel)]="item.value" name="Value" />
                                        <input *ngIf="item.dataType==3" type="date" id="RuleConfiguration_Value" class="form-control"
                                          [(ngModel)]="item.value" name="Value" />
                                        <input *ngIf="item.dataType==1 || item.dataType==2" type="number" id="RuleConfiguration_Value"
                                          class="form-control" [(ngModel)]="item.value" name="Value" />
                
                                      </td>
                                      <td class="pull-right">
                                        <button class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--pill" (click)="addLine(ruleGroup)" type="button"><i
                                            class="fa fa-save"></i></button>
                                      </td>
                                    </tr>
                
                                  </tbody>
                                </table>

                              <table class="table table-striped">
                                <tr>
        
                                  <th scope="col-3" style="width: 30%">Data Point</th>
                                  <th scope="col-3" style="width: 30%">Operand</th>
                                  <th scope="col-3" style="width: 30%">Value</th>
                                  <th scope="col-3" style="width: 10%"></th>
                                </tr>
                                <tr *ngFor="let newItem of ruleGroup.ruleObjs">
                                  <td scope="col-3">{{newItem.dataPointName}}</td>
                                  <td scope="col-3">{{newItem.operand}}</td>
                                  <td scope="col-3">{{newItem.value}}</td>
                                  <td scope="col-3">
                                      <button class="btn btn-outline-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" (click)="removeLine(ruleGroup, newItem)">
                                          <i class="fa fa-times"></i>
                                      </button>
                                  </td>
                                </tr>
        
                              </table>
                          </div>
                          <div class="col-md-1">
                              <button *ngIf="newRuleForGroup != ruleGroup.groupName" type="button" 
                                class="btn btn-outline-success m-btn m-btn--icon btn-sm btn-block" 
                                (click)="showRuleAddFor(ruleGroup.groupName)">
                                <i class="fa fa-plus"></i> New Line
                              </button>
                              <button *ngIf="newRuleForGroup == ruleGroup.groupName" type="button" 
                                class="btn btn-outline-danger m-btn m-btn--icon btn-sm btn-block" 
                                (click)="showRuleAddFor()">
                                <i class="fa fa-times"></i> Cancel
                              </button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>


                 <!-- <hr>
                <label>Configure your rule</label>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" *ngIf="ruleConfigurations.length > 0">Connector</th>
                      <th scope="col">Data Point</th>
                      <th scope="col">Operand</th>
                      <th scope="col">Value</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngIf="ruleConfigurations.length > 0">
                        <select class="form-control" name="item_Connector" [(ngModel)]="item.connector">
                          <option value="And">And</option>
                          <option value="Or">Or</option>
                          <option value="Then">Then</option>
                        </select>

                      </td>
                      <td>
                        <div class="form-group m-form__group">

                          <div class="input-group">
                            <input class="form-control" id="DataPointName" name="dataPointName"
                              [(ngModel)]="item.dataPointName" type="text" disabled />
                            <div class="input-group-append">
                              <button class="btn btn-primary blue" (click)="openSelectDataPointModal(item.id)"
                                type="button"><i class="fa fa-search"></i> </button>
                            </div>

                          </div>
                        </div>
                        <input class="form-control" name="item.dataPointId" [(ngModel)]="item.dataPointId" type="text"
                          hidden />

                      </td>
                      <td>
                        <select class="form-control" name="operand" id="RuleConfiguration_Operand"
                          [(ngModel)]="item.operand">
                          <option value="==">Equals</option>
                          <option value="!=">Not Equal</option>
                          <option value=">">Greater Than</option>
                          <option value=">=">Greater or Equal</option>
                          <option value="<">Less Than</option>
                          <option value="<=">Not Equal</option>
                        </select>
                      </td>
                      <td>
                        <input *ngIf="item.dataType==0" type="text" id="RuleConfiguration_Value" class="form-control"
                          [(ngModel)]="item.value" name="Value" />
                        <input *ngIf="item.dataType==3" type="date" id="RuleConfiguration_Value" class="form-control"
                          [(ngModel)]="item.value" name="Value" />
                        <input *ngIf="item.dataType==1 || item.dataType==2" type="number" id="RuleConfiguration_Value"
                          class="form-control" [(ngModel)]="item.value" name="Value" />

                      </td>
                      <td class="pull-right">
                        <button class="btn btn-success btn-sm" (click)="addLine()" type="button"><i
                            class="fa fa-plus"></i></button>
                      </td>
                    </tr>

                  </tbody>
                </table>

                <div class="form-group m-form__group">
                    <label>Defined Rules</label>
                    <table class="table table-striped">
                      <tr>
    
                        <th scope="col">Data Point</th>
                        <th scope="col">Operand</th>
                        <th scope="col">Value</th>
                        <th scope="col">Connector</th>
                        <th scope="col"></th>
                      </tr>
                      <tr *ngFor="let newItem of ruleConfigurations">
    
    
                        <td>{{newItem.dataPointName}}</td>
                        <td>{{newItem.operand}}</td>
                        <td>{{newItem.value}}</td>
                        <td>{{newItem.connector}}</td>
                        <td>
                          <button *ngIf="newItem.ind  == (ruleConfigurations.length-1)" class="btn btn-danger btn-sm"
                            (click)="removeLine()" type="button"><i class="fa fa-times"></i></button>
                        </td>
                      </tr>
    
                    </table>
                  </div>  -->

              </div>
            </tab>
            <tab heading="{{l('Escalation')}}" customClass="m-tabs__item">
              <div class="form-group m-form__group">
                <label>Escalate this exception to these user(s):</label>
                <table class="table table-striped">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">
                      <button class="btn btn-success btn-sm" (click)="openSelectUserModal()" type="button"><i
                          class="fa fa-plus"></i>Add New User</button>
                    </th>
                  </tr>
                  <tr *ngFor="let newItem of ruleEscalations">
                    <td>{{newItem.ind + 1}}</td>
                    <td scope="row">{{newItem.displayName}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm" (click)="removeUser(newItem.ind)" type="button"><i
                          class="fa fa-times"></i>Remove</button>
                    </td>
                  </tr>

                </table>
              </div>
            </tab>
          </tabset>

          
        </form>
      </div>
    </div>
  </div>

  <dataPointLookupTableModal #dataPointLookupTableModal (modalSave)="setDataPoint()"></dataPointLookupTableModal>
  <userLookupTableModal #userLookupTableModal (modalSave)="getNewUserId()"></userLookupTableModal>
</div>