<div [@routerTransition]>
  <div class="m-content">
    <div class="m-portlet m-portlet--rounded m-portlet--mobile m-portlet--primary m-portlet--head-solid-bg">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              View Rule
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <div class="btn-group m-btn-group m-btn-group--pill" role="group">
            <button type="button" class="m-btn btn btn-default" (click)="edit()"
              *ngIf="permission.isGranted('Pages.Rules.Edit') && rule.ruleStatus == RULE_STATUS_DRAFT">
              <i class="fa fa-edit"></i> Edit
            </button>
            <button type="button" class="m-btn btn btn-default" (click)="updateStatus(RULE_STATUS_SUBMITTED)"
              *ngIf="permission.isGranted('Pages.Rules.Edit') && rule.ruleStatus == RULE_STATUS_DRAFT">
              <i class="fa fa-check"></i> {{l('Submit for Approval')}}
            </button>
            <button type="button" class="m-btn btn btn-default" (click)="updateStatus(RULE_STATUS_PUBLISHED)"
              *ngIf="permission.isGranted('Pages.Rules.Approve') && rule.ruleStatus == RULE_STATUS_SUBMITTED">
              <i class="fa fa-check-double"></i> {{l('Publish')}}
            </button>
            <button type="button" class="m-btn btn btn-default" (click)="updateStatus(RULE_STATUS_DRAFT)"
            *ngIf="permission.isGranted('Pages.Rules.Approve') && rule.ruleStatus == RULE_STATUS_SUBMITTED">
              <i class="fa fa-times"></i> {{l('Reject')}}
            </button>
            <button type="button" class="m-btn btn btn-default" (click)="toogleActvation()"
            *ngIf="permission.isGranted('Pages.Rules.Activate') && rule.ruleStatus == RULE_STATUS_PUBLISHED">
              <span *ngIf="rule.active"><i class="fa fa-times"></i>
                {{l('Deactivate')}}</span>
            <span *ngIf="!rule.active"><i class="fa fa-check"></i>
                {{l('Activate')}}</span>
            </button>
            <button type="button" class="m-btn btn btn-default" (click)="goBack()">
              <i class="fa fa-reply"></i> Back
            </button>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <form #ruleForm="ngForm" novalidate autocomplete="off">
          <tabset class="tab-container tabbable-line">
            <tab heading="Basic Information" customClass="m-tabs__item">
              <div class="row">
                <div class="form-group col-md-8">
                  <label for="Rule_Name">{{l("Name")}}</label>
                  <input type="text" id="Rule_Name" class="form-control mb-2" [(ngModel)]="rule.name" name="Name"
                    minlength="2" maxlength="200" disabled />
                    <span 
                      class="m-badge m-badge--{{getRuleStatusBadgeCSSClass(rule.ruleStatus)}} m-badge--wide m-badge--pill">
                      <span class=""> {{l('EnumRuleStatus_' + rule.ruleStatus )}} </span>
                    </span>&nbsp;
                    <span class="m-badge m-badge--{{rule.active ? 'success' : 'danger'}} m-badge--wide m-badge--pill">
                        {{rule.active ? 'Active' : 'Not active'}}
                    </span>
                </div>

                <div class="form-group col-md-4"></div>

                <div class="form-group m-form__group col-md-4">
                  <label for="TransactionTypeName">{{l("TransactionType")}}</label>
                  <input type="text" name="transactionTypeName" id="TransactionTypeName" [(ngModel)]="transactionTypeName"
                    class="form-control" disabled />
                </div>

                <div class="form-group col-md-4">
                  <label for="Rule_Severity">{{l("Severity")}}</label>
                  <input type="text" class="form-control" name="Severity" id="Rule_Severity"
                    value="{{l('Enum_Severity_' + rule.severity)}}" disabled>
                </div>

                <div class="form-group col-md-4">
                  <label for="Rule_Action">{{l("Action")}}</label>
                  <input type="text" class="form-control" name="Action" id="Rule_Action" value="{{l('Enum_Actions_' + rule.action)}}" 
                    disabled />
                </div>

                <div class="form-group col-md-8">
                  <label for="Rule_Description">{{l("Description")}}</label>
                  <textarea id="Rule_Description" class="form-control" [(ngModel)]="rule.description" name="Description" disabled
                    rows="5"></textarea>
                </div>

                

              </div>
            </tab>
            <tab heading="{{l('Definition')}}" customClass="m-tabs__item">
              <div class="form-group m-form__group">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control col-md-4" name="baseConnector"
                      [(ngModel)]="selectedBaseConnector" disabled />
                  </div>
                </div>
                <hr>
                <div *ngFor="let ruleGroup of ruleGroups" class="row">
                  <div class="col-md-12">
                    <div class="rule-group">
                      <div class="row">
                        <div class="col-md-2">
                          <input type="text" class="form-control" name="item_Connector_{{ruleGroup.groupName}}"
                            [(ngModel)]="ruleGroup.connector" disabled /><br>
                        </div>
                        <div class="col-md-10">
                          <table class="table table-striped">
                            <tr>

                              <th scope="col-3" style="width: 33%">Data Point</th>
                              <th scope="col-3" style="width: 33%">Operand</th>
                              <th scope="col-3" style="width: 33%">Value</th>
                            </tr>
                            <tr *ngFor="let newItem of ruleGroup.ruleObjs">
                              <td scope="col-3">{{newItem.dataPointName}}</td>
                              <td scope="col-3">{{newItem.operand}}</td>
                              <td scope="col-3">{{newItem.value}}</td>
                            </tr>

                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="{{l('Escalation')}}" customClass="m-tabs__item">
              <div class="form-group m-form__group">
                <label>Escalate this exception to these user(s):</label>
                <table class="table table-striped">
                  <tr>
                    <th scope="col">User</th>
                  </tr>
                  <tr *ngFor="let newItem of ruleEscalations">
                    <td scope="row">{{newItem.displayName}}</td>
                  </tr>

                </table>
              </div>
            </tab>
          </tabset>


        </form>
      </div>
    </div>
  </div>
</div>