<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #transactionTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="transactionType.id">{{l("EditTransactionType")}}</span>
                        <span *ngIf="!transactionType.id">{{l("CreateNewTransactionType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">




                    <div class="form-group">
                        <label for="TransactionType_Name">Name</label>
                        <input type="text" id="TransactionType_Name" class="form-control" [(ngModel)]="transactionType.name" name="Name" minlength="2" maxlength="200" required />
                    </div>

                    <div class="form-group m-form__group">
                        <label for="ChannelName">What channel is the transaction coming from?</label>
                        <div class="input-group">
                            <input class="form-control" id="ChannelName" name="channelName" [(ngModel)]="channelName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectChannelModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setChannelIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="transactionType.channelId" [(ngModel)]="transactionType.channelId" type="text" required hidden>


                    <div class="form-group">
                        <label for="TransactionType_Description">{{l("Description")}}</label>
                        <textarea id="TransactionType_Description" class="form-control" [(ngModel)]="transactionType.description" name="Description" ></textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!transactionTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<channelLookupTableModal #channelLookupTableModal (modalSave)="getNewChannelId()"></channelLookupTableModal>
		 
</div>
