<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Blacklists")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("BlacklistsHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Blacklists.Create')" (click)="createBlacklist()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewBlacklist")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getBlacklists()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="AccountNumberFilter">{{l("AccountNumber")}}</label>
									<input type="text" class="form-control" id="AccountNumberFilter" name="accountNumberFilter" [(ngModel)]="accountNumberFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="TransactionTypeNameFilter">({{l("TransactionType")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="TransactionTypeNameFilter" name="transactionTypeNameFilter" [(ngModel)]="transactionTypeNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilter">({{l("User")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getBlacklists($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Blacklists.Edit', 'Pages.Blacklists.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="transactionTypeName">
                                        {{l('Name')}}
                                        <p-sortIcon field="transactionTypeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="userName">
                                        {{l('Name')}}
                                        <p-sortIcon field="userName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="blacklist.accountNumber">
                                        {{l('AccountNumber')}}
                                        <p-sortIcon field="blacklist.accountNumber"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="blacklist.accountName">
                                        {{l('AccountName')}}
                                        <p-sortIcon field="blacklist.accountName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="blacklist.description">
                                        {{l('Description')}}
                                        <p-sortIcon field="blacklist.description"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="blacklist.approvalDate">
                                        {{l('ApprovalDate')}}
                                        <p-sortIcon field="blacklist.approvalDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Blacklists.Edit', 'Pages.Blacklists.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewBlacklistModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.Blacklists.Edit')"
														(click)="createOrEditBlacklistModal.show(record.blacklist.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Blacklists.Delete')"
														(click)="deleteBlacklist(record.blacklist)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record.blacklist)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Name')}}</span>
												{{record.transactionTypeName}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Name')}}</span>
												{{record.userName}}
											</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('AccountNumber')}}</span>
											{{record.blacklist.accountNumber}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('AccountName')}}</span>
											{{record.blacklist.accountName}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Description')}}</span>
											{{record.blacklist.description}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('ApprovalDate')}}</span>
                                        <span *ngIf="record.blacklist.approvalDate">
											{{record.blacklist.approvalDate | momentFormat:'L'}}
                                        </span>
                                        <span *ngIf="!record.blacklist.approvalDate">-</span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getBlacklists($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditBlacklistModal #createOrEditBlacklistModal (modalSave)="getBlacklists()"></createOrEditBlacklistModal>
    <viewBlacklistModal #viewBlacklistModal></viewBlacklistModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
</div>