<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #blacklistForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="blacklist.id">{{l("EditBlacklist")}}</span>
                        <span *ngIf="!blacklist.id">{{l("CreateNewBlacklist")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="TransactionTypeName">{{l("TransactionType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="TransactionTypeName" name="transactionTypeName" [(ngModel)]="transactionTypeName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTransactionTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setTransactionTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="blacklist.transactionTypeId" [(ngModel)]="blacklist.transactionTypeId" type="text" required hidden>
		 
					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setApproverUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="blacklist.approverUserId" [(ngModel)]="blacklist.approverUserId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="Blacklist_AccountNumber">{{l("AccountNumber")}} *</label>
									<input type="text" id="Blacklist_AccountNumber" class="form-control" [(ngModel)]="blacklist.accountNumber" name="AccountNumber"   minlength="10"  maxlength="10"  required/>
								</div>
					
								<div class="form-group">
									<label for="Blacklist_AccountName">{{l("AccountName")}}</label>
									<input type="text" id="Blacklist_AccountName" class="form-control" [(ngModel)]="blacklist.accountName" name="AccountName"    />
								</div>
					
								<div class="form-group">
									<label for="Blacklist_Description">{{l("Description")}}</label>
									<input type="text" id="Blacklist_Description" class="form-control" [(ngModel)]="blacklist.description" name="Description"    />
								</div>
					
								<div class="form-group">
									<label for="Blacklist_ApprovalDate">{{l("ApprovalDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="approvalDate" id="Blacklist_ApprovalDate" name="Blacklist_ApprovalDate">
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!blacklistForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<transactionTypeLookupTableModal #transactionTypeLookupTableModal (modalSave)="getNewTransactionTypeId()"></transactionTypeLookupTableModal>
		 <userLookupTableModal #userLookupTableModal (modalSave)="getNewApproverUserId()"></userLookupTableModal>
		 
</div>