<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("AccountNumber")}} :</h6>
                        {{item.blacklist.accountNumber}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AccountName")}} :</h6>
                        {{item.blacklist.accountName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{item.blacklist.description}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ApprovalDate")}} :</h6>
                        {{item.blacklist.approvalDate}}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("TransactionType")}}) {{l("Name")}} :</h6>
                        {{item.transactionTypeName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("User")}}) {{l("Name")}} :</h6>
                        {{item.userName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
