<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Cases")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("CasesHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-2">
                                <div class="form-group m-form__group align-items-center">
                                    <select class="form-control m-input" name="StatusFilter" id="StatusFilterSelect" [(ngModel)]="statusFilter" (change)="getCases()">
                                        <option value="-1">{{l("-- Select Status --")}}</option>
                                        <option value="0">{{l('Enum_Status_0')}}</option>
                                        <option value="1">{{l('Enum_Status_1')}}</option>
                                        <option value="2">{{l('Enum_Status_2')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-10">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getCases()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinTransactionDateFilter">{{l("MinMax")}} {{l("TransactionDate")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinTransactionDateFilter" name="MinTransactionDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minTransactionDateFilter">
                                        <input class="form-control m-input" id="MaxTransactionDateFilter" name="MaxTransactionDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxTransactionDateFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AccountNumberFilter">{{l("AccountNumber")}}</label>
									<input type="text" class="form-control" id="AccountNumberFilter" name="accountNumberFilter" [(ngModel)]="accountNumberFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AccountTypeFilter">{{l("AccountType")}}</label>
									<input type="text" class="form-control" id="AccountTypeFilter" name="accountTypeFilter" [(ngModel)]="accountTypeFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="DetectionSourceFilterSelect">{{l("DetectionSource")}}</label>
								<select class="form-control" name="DetectionSourceFilter" id="DetectionSourceFilterSelect" [(ngModel)]="detectionSourceFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Enum_DectectionSource_0')}}</option>

										<option value="1">{{l('Enum_DectectionSource_1')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<label for="SourceFilterSelect">{{l("Source")}}</label>
								<select class="form-control" name="SourceFilter" id="SourceFilterSelect" [(ngModel)]="sourceFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Enum_Sources_0')}}</option>

										<option value="1">{{l('Enum_Sources_1')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<label for="TransactionStatusFilterSelect">{{l("TransactionStatus")}}</label>
								<select class="form-control" name="TransactionStatusFilter" id="TransactionStatusFilterSelect" [(ngModel)]="transactionStatusFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Enum_TransactionStatus_0')}}</option>

										<option value="1">{{l('Enum_TransactionStatus_1')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<label for="ConclusionFilterSelect">{{l("Conclusion")}}</label>
								<select class="form-control" name="ConclusionFilter" id="ConclusionFilterSelect" [(ngModel)]="conclusionFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Enum_Conclusion_0')}}</option>

										<option value="1">{{l('Enum_Conclusion_1')}}</option>

										<option value="2">{{l('Enum_Conclusion_2')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<label for="StatusFilterSelect">{{l("Status")}}</label>
								<select class="form-control" name="StatusFilter" id="StatusFilterSelect" [(ngModel)]="statusFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Enum_Status_0')}}</option>

										<option value="1">{{l('Enum_Status_1')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="TransactionTypeNameFilter">({{l("TransactionType")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="TransactionTypeNameFilter" name="transactionTypeNameFilter" [(ngModel)]="transactionTypeNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilter">({{l("User")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RuleNameFilter">({{l("Rule")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="RuleNameFilter" name="ruleNameFilter" [(ngModel)]="ruleNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getCases($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 170px" pSortableColumn="case.creationTime">
                                        {{l('Date')}}
                                        <p-sortIcon field="case.creationTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="case.accountNumber">
                                        {{l('Account Number')}}
                                        <p-sortIcon field="case.accountNumber"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="case.accountName">
                                        {{l('AccountName')}}
                                        <p-sortIcon field="case.accountName"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="transactionTypeName">
                                        {{l('Transaction Type')}}
                                        <p-sortIcon field="transactionTypeName"></p-sortIcon>
                                    </th>
   
                                    <th style="width: 150px" pSortableColumn="case.source">
                                        {{l('Source')}}
                                        <p-sortIcon field="case.source"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="case.status">
                                        {{l('Status')}}
                                        <p-sortIcon field="case.status"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="case.conclusion">
                                        {{l('Conclusion')}}
                                        <p-sortIcon field="case.conclusion"></p-sortIcon>
                                    </th>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Cases.Edit', 'Pages.Cases.Delete')">{{l('Actions')}}</th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width:170px">
                                        <span class="ui-column-title"> {{l('Date')}}</span>
                                        <span *ngIf="record.case.creationTime">
                                            {{record.case.creationTime | momentFormat:'ll h:mm a'}}
                                        </span>
                                        <span *ngIf="!record.case.creationTime">-</span>
                                    </td>
                                    <td style="width:200px">
                                        <span class="ui-column-title"> {{l('Account Number')}}</span>
                                        {{record.case.accountNumber}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AccountName')}}</span>
                                        {{record.case.accountName}}
                                    </td>
                                    <td style="width:200px">
                                        <span class="ui-column-title"> {{l('Transaction Type')}}</span>
                                        {{record.transactionTypeName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Source')}}</span>
                                        {{l('Enum_DectectionSource' + dectectionSource[record.case.detectionSource])}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Status')}}</span>
                                        <span class="m-badge m-badge--{{getCaseStatusClass(record.case.status)}} m-badge--wide m-badge--pills">
                                            <span class="m--font-light">
                                                {{l('Enum_Status_' + record.case.status)}}
                                            </span>
                                        </span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Conclusion')}}</span>
                                        <span class="m-badge m-badge--{{getConclustionStatusClass(record.case.conclusion)}} m-badge--wide m-badge--pills">
                                            <span class="m--font-light">
                                                {{l('Enum_Conclusion' + conclusion[record.case.conclusion])}}
                                            </span>
                                        </span>
                                    </td>
                                    <td style="width: 130px" [hidden]="!isGrantedAny('Pages.Cases.Edit', 'Pages.Cases.Delete')">
                                        <div class="btn-group m-btn-group m-btn-group--pill" dropdown container="body">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                (click)="viewCaseDetails(record.case.id)">
                                                <i class="fa fa-info-circle"></i> View
                                            </button>
                                            <button class="dropdown-toggle btn btn-sm btn-primary dropdown-toggle-split"
                                                dropdownToggle>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li *ngIf="record.case.status === 1 && !entityHistoryEnabled">
                                                    <a href="javascript:;">
                                                        No actions available
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.CaseTasks.Create') && record.case.status != 1"
                                                        (click)="createTask(record.case.id)">
                                                        <i class="fa fa-check"></i> Create Task
                                                    </a>
                                                </li>
                                                <!-- <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Cases.Close') && record.case.status != 1"
                                                        (click)="editRule(record.case.id)">
                                                        <i class="fa fa-times"></i> Close Case
                                                    </a>
                                                </li> -->
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                        (click)="showHistory(record.case)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getCases($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditCaseModal #createOrEditCaseModal (modalSave)="getCases()"></createOrEditCaseModal>
    <app-create-task-modal #createCaseTaskModal (modalSave)="getCases()"></app-create-task-modal>
    <viewCaseModal #viewCaseModal (modalSave)="getCases()"></viewCaseModal>
    
</div>
