<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #caseForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="case.id">{{l("EditCase")}}</span>
                        <span *ngIf="!case.id">{{l("CreateNewCase")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <tabset class="tab-container tabbable-line">
                        <tab heading="{{l('Transaction Information')}}" customClass="m-tabs__item">
                            <div class="form-group m-form__group row">
                                <label for="Case_TransactionDate" class="col-md-12">{{l("TransactionDate")}}</label>
                                <div class="col-lg-10 col-md-9 col-sm-8">
                                    <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="case.transactionDate._d" id="Case_TransactionDate" name="Case_TransactionDate">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="Case_AccountNumber">{{l("AccountNumber")}}</label>
                                <input type="text" id="Case_AccountNumber" class="form-control" [(ngModel)]="case.accountNumber" name="AccountNumber" required />
                            </div>

                            <div class="form-group">
                                <label for="Case_AccountName">{{l("AccountName")}}</label>
                                <input type="text" id="Case_AccountName" class="form-control" [(ngModel)]="case.accountName" name="AccountName" />
                            </div>

                            <div class="form-group">
                                <label for="Case_AccountType">{{l("Account Type")}}</label>
                                <select class="form-control" name="AccountType" id="Case_AccountType" [(ngModel)]="case.accountType">
                                    <option value="Savings">Savings Account</option>

                                    <option value="1">Current Account</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Case_ProductName">{{l("ProductName")}}</label>
                                <input type="text" id="Case_ProductName" class="form-control" [(ngModel)]="case.productName" name="ProductName" />
                            </div>

                            <div class="form-group m-form__group">
                                <label for="TransactionTypeName">{{l("TransactionType")}}</label>
                                <div class="input-group">
                                    <input class="form-control" id="TransactionTypeName" name="transactionTypeName" [(ngModel)]="transactionTypeName" type="text" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary blue" (click)="openSelectTransactionTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                    </div> <div class="input-group-prepend">
                                        <button class="btn btn-danger" type="button" (click)="setTransactionTypeIdNull()"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" name="case.transactionTypeId" [(ngModel)]="case.transactionTypeId" type="text" required hidden>

                            <div class="form-group">
                                <label for="Case_Amount">{{l("Amount")}}</label>
                                <input type="number" id="Case_Amount" class="form-control" [(ngModel)]="case.amount" min="0" name="Amount" required />
                            </div>

                            <div class="form-group">
                                <label for="Case_TransactionStatus">{{l("TransactionStatus")}}</label>
                                <select class="form-control" name="TransactionStatus" id="Case_TransactionStatus" [(ngModel)]="case.transactionStatus">
                                    <option value="0">{{l('Enum_TransactionStatus_0')}}</option>

                                    <option value="1">{{l('Enum_TransactionStatus_1')}}</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Case_Others">{{l("Other Details ")}}</label>
                                <textarea rows="20" type="text" id="Case_Others" class="form-control" [(ngModel)]="case.otherDetails" name="OtherDetails"></textarea>
                            </div>

                        </tab>
                        <tab heading="{{l('Alert')}}" customClass="m-tabs__item">



                            <div class="form-group">
                                <label for="Case_Description">{{l("Description")}}</label>
                                <textarea rows="10" type="text" id="Case_Description" class="form-control" [(ngModel)]="case.description" name="Description"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="Case_Source">{{l("Source")}}</label>
                                <select class="form-control" name="Source" id="Case_Source" [(ngModel)]="case.source">
                                    <option value="0">{{l('Enum_Sources_0')}}</option>

                                    <option value="1">{{l('Enum_Sources_1')}}</option>


                                </select>
                            </div>

                            <div class="form-group" *ngIf="case.source == '0'">
                                <label for="Case_DetectionSource">{{l("DetectionSource")}}</label>
                                <select class="form-control" name="DetectionSource" id="Case_DetectionSource" [(ngModel)]="case.detectionSource">
                                    <option value="0">{{l('Enum_DectectionSource_0')}}</option>

                                    <option value="1">{{l('Enum_DectectionSource_1')}}</option>


                                </select>
                            </div>

                            <div class="form-group m-form__group" *ngIf="case.detectionSource==0">
                                <label for="RuleName">{{l("Rule")}}</label>
                                <div class="input-group">
                                    <input class="form-control" id="RuleName" name="ruleName" [(ngModel)]="ruleName" type="text" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary blue" (click)="openSelectRuleModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                    </div> <div class="input-group-prepend">
                                        <button class="btn btn-danger" type="button" (click)="setRuleIdNull()"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" name="case.ruleId" [(ngModel)]="case.ruleId" type="text" hidden>

                        </tab>


                        <tab heading="{{l('Resolution')}}" customClass="m-tabs__item">
                            <div class="form-group m-form__group">
                                <label for="UserName">{{l("Resolve By")}}</label>
                                <div class="input-group">
                                    <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                    </div> <div class="input-group-prepend">
                                        <button class="btn btn-danger" type="button" (click)="setAllocationUserIdNull()"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" name="case.allocationUserId" [(ngModel)]="case.allocationUserId" type="text" hidden>

                                        <div class="form-group m-form__group">
                                            <label for="DefaultFileUploadFileInput" class="control-label">Attach Document</label>
                                            <p-fileUpload multiple="multiple"
                                                          id="DefaultFileUploadFileInput"
                                                          name="DefaultFileUploadFileInput[]"
                                                          [url]="uploadUrl"
                                                          accept="image/*"
                                                          maxFileSize="1000000"
                                                          (onUpload)="onUpload($event)"
                                                          (onBeforeSend)="onBeforeSend($event)">
                                                <ng-template pTemplate="content">
                                                    <ul *ngIf="uploadedFiles.length">
                                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                                    </ul>
                                                </ng-template>
                                            </p-fileUpload>
                                        </div>
                     

               


                            <div class="form-group" *ngIf="case.id">
                                <label for="Case_Conclusion">{{l("Conclusion")}}</label>
                                <select class="form-control" name="Conclusion" id="Case_Conclusion" [(ngModel)]="case.conclusion">
                                    <option value="0">{{l('Enum_Conclusion_0')}}</option>

                                    <option value="1">{{l('Enum_Conclusion_1')}}</option>

                                    <option value="2">{{l('Enum_Conclusion_2')}}</option>

                                    <option value="3">{{l('Enum_Conclusion_3')}}</option>
                                </select>
                            </div>


                            <div class="form-group" *ngIf="case.id">
                                <label for="Case_ClosureComments">{{l("ClosureComments")}}</label>
                                <textarea type="text" id="Case_ClosureComments" class="form-control" [(ngModel)]="case.closureComments" name="ClosureComments"></textarea>
                            </div>

                            <div class="form-group" *ngIf="case.id">
                                <label for="Case_Status">{{l("Status")}}</label>
                                <select class="form-control" name="Status" id="Case_Status" [(ngModel)]="case.status">
                                    <option value="0">{{l('Enum_Status_0')}}</option>

                                    <option value="1">{{l('Enum_Status_1')}}</option>


                                </select>
                            </div>

                        </tab>
                    </tabset>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!caseForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
    <transactionTypeLookupTableModal #transactionTypeLookupTableModal (modalSave)="getNewTransactionTypeId()"></transactionTypeLookupTableModal>
    <userLookupTableModal #userLookupTableModal (modalSave)="getNewAllocationUserId()"></userLookupTableModal>
    <ruleLookupTableModal #ruleLookupTableModal (modalSave)="getNewRuleId()"></ruleLookupTableModal>

</div>
