<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-stack__item  m-stack__item--middle">
                        <div class="row">
                            <div class="col">
                                <h6>{{l("Case Id")}} :</h6>
                                {{item.case.id}}
                            </div>
                        </div><br><br>
                        <div class="row">
                            <div class="col">
                                    <h6>Dectection Source</h6>
                                    {{l('Enum_DectectionSource_' + item.case.detectionSource)}}
                            </div>
                            <div class="col">
                                    <h6>Status</h6>
                                    {{l('Enum_Status_' + item.case.status)}}
                            </div>
                            <div class="col">
                                    <h6>Conclusion</h6>
                                    {{l('Enum_Conclusion_' + item.case.conclusion)}}
                            </div>
                            <div class="col">
                                    <h6>Anomally</h6>
                                    {{item.case.anomally}}
                            </div>
                        </div><br><br>
                        <div *ngIf="item.ruleName" class="row">
                            <div class="col">
                                    <h6>Rule Name</h6>
                                    {{item.ruleName}}
                            </div>
                        </div>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                            <div class="row">
                                <div class="col">
                                        <h6>{{l("TransactionDate")}} :</h6>
                                        {{item.case.transactionDate}}
                                </div>
                                <div class="col">
                                        <h6>Platform</h6>
                                        {{ item.case.productName }}
                                </div>
                                <div class="col">
                                        <h6>Amount</h6>
                                        {{ item.case.amount }}
                                </div>
                                <div class="col">
                                        <h6>Status</h6>
                                        {{l('Enum_TransactionStatus_' + item.case.transactionStatus)}}
                                </div>
                            </div>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                            <div class="row">
                                <div class="col">
                                        <h6>{{l("AccountNumber")}} :</h6>
                                        {{item.case.accountNumber}}
                                </div>
                                <div class="col">
                                        <h6>{{l("AccountName")}} :</h6>
                                        {{item.case.accountName}}
                                </div>
                                <div class="col">
                                        <h6>{{l("Phone")}} :</h6>
                                        {{item.case.closureComments}}
                                </div>
                                <div class="col">
                                        <h6>Status</h6>
                                        {{l('Enum_TransactionStatus_' + item.case.transactionStatus)}}
                                </div>
                            </div>
                    </div>
                    <!--
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("AccountType")}} :</h6>
                        {{item.case.accountType}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("ProductName")}} :</h6>
                        {{item.case.productName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("Description")}} :</h6>
                        {{item.case.description}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("detectionSource")}} :</h6>
                        {{l('Enum_DectectionSource' + dectectionSource[item.case.detectionSource])}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("source")}} :</h6>
                        {{l('Enum_Sources' + sources[item.case.source])}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("transactionStatus")}} :</h6>
                        {{l('Enum_TransactionStatus' + transactionStatus[item.case.transactionStatus])}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("conclusion")}} :</h6>
                        {{l('Enum_Conclusion' + conclusion[item.case.conclusion])}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("status")}} :</h6>
                        {{l('Enum_Status' + status[item.case.status])}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>{{l("ClosureComments")}} :</h6>
                        {{item.case.closureComments}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>

                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>({{l("TransactionType")}}) {{l("Name")}} :</h6>
                        {{item.transactionTypeName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>({{l("User")}}) {{l("Name")}} :</h6>
                        {{item.userName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item  m-stack__item--middle">
                        <h6>({{l("Rule")}}) {{l("Name")}} :</h6>
                        {{item.ruleName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                -->
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary blue" (click)="callCustomer()">
                    {{l("Contact Customer")}}
                    <i class="fa fa-phone"></i>
                </button>
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>