<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("View Cases")}}</span>
                </h3>
                <span class="m-section__sub">

                </span>
            </div>
            <div class="col-md-6 text-right">
                <button (click)="goBack()" class="btn btn-outline-info">
                    <i class="fa fa-reply"></i> {{l("Go Back")}}</button>
                <button *ngIf="case.status != 1 && permission.isGranted('Pages.Cases.Close')" (click)="closeCase()" class="btn btn-danger">
                    <i class="fa fa-times"></i> {{l("Close Case")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__body">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="Case Summary" customClass="m-tabs__item">
                                <form class="m-form m-form--fit m-form--label-align-right">
                                    <span class="m-form__help">Case Details</span><br>
                                    <div class="form-row m-form__group m-form__group">
                                        <div class="form-group col">
                                            <label for="inputEmail4">Date</label><br>
                                            {{ case.creationTime | momentFormat:'ll h:mm a'}}
                                        </div>
                                    </div>
                                    <div class="form-row m-form__group m-form__group">
                                        <div class="form-group col">
                                            <label>Dectection Source</label><br>
                                            {{l('Enum_DectectionSource_' + case.detectionSource)}}
                                        </div>
                                        <div class="form-group col">
                                            <label>Status</label><br>
                                            <span
                                                class="m-badge m-badge--{{getCaseStatusClass(case.status)}} m-badge--wide m-badge--rounded">
                                                <span class="m--font-light">
                                                    {{l('Enum_Status_' + case.status)}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="form-group col">
                                            <label>Conclustion</label><br>
                                            <span
                                                class="m-badge m-badge--{{getConclustionStatusClass(case.conclusion)}} m-badge--wide m-badge--rounded">
                                                <span class="m--font-light">
                                                    {{l('Enum_Conclusion_' + case.conclusion)}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-row m-form__group">
                                        <div class="form-group col">
                                            <label>Description</label><br>
                                            {{ case.description }}
                                        </div>
                                    </div>

                                    <div *ngIf="case.status == 1" class="form-row m-form__group">
                                        <div class="form-group col">
                                            <label>Closure Comments</label><br>
                                            {{ case.closureComments }}
                                        </div>
                                        <div class="form-group col">
                                            <label>Resolved By</label><br>
                                            {{ userName }}
                                        </div>
                                    </div>

                                    <div class="m-divider"><span></span></div>

                                    <span class="m-form__help">Transaction Details</span><br>
                                    <div class="form-row m-form__group m-form__group">
                                        <div class="form-group col">
                                            <label for="inputEmail4">Transaction Date</label><br>
                                            {{ case.transactionDate | momentFormat:'ll h:mm a' }}
                                        </div>
                                        <div class="form-group col">
                                            <label>Transaction Type</label><br>
                                            {{ transactionTypeName }}
                                        </div>
                                        <div class="form-group col">
                                            <label>Amount</label><br>
                                            NGN {{ case.amount | number }}
                                        </div>
                                    </div>
                                    <div class="form-row m-form__group">
                                        <div class="form-group col">
                                            <label>Account Number</label><br>
                                            {{ case.accountNumber }}
                                        </div>
                                        <div class="form-group col">
                                            <label>Account Name</label><br>
                                            {{ case.accountName }}
                                        </div>
                                        <div class="form-group col">
                                            <label>Phone Number</label><br>
                                            {{ case.phoneNumber }}
                                        </div>
                                    </div>
                                </form>
                            </tab>
                            <tab *ngIf="failedRules.length > 0" heading="Failed Rules" customClass="m-tabs__item">
                                <div class="align-items-center">
                                    <!--<Primeng-Datatable-Start>-->
                                    <div class="primeng-datatable-container">
                                        <p-table #failedRulesTable
                                            [value]="failedRules" *ngIf="failedRules != 0"
                                            rows="10" [paginator]="true" [scrollable]="true" ScrollWidth="100%"
                                            [responsive]="true">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 300px" pSortableColumn="ruleName">
                                                        {{l('Rule')}}
                                                        <p-sortIcon field="ruleName"></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td style="width:300px">
                                                        <span class="ui-column-title"> {{l('Rule Name')}}</span>
                                                        <a href="javascript:void(0);" (click)="viewRule(record.caseFailedRule.ruleId)">
                                                            {{record.ruleName}}
                                                        </a>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="failedRules == 0">
                                            {{l('NoData')}}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <span class="total-records-count">
                                                {{l('TotalRecordsCount', failedRules.length)}}
                                            </span>
                                        </div>
                                    </div>
                                    <!--<Primeng-Datatable-End>-->
                                </div>
                            </tab>
                            <tab heading="Tasks" customClass="m-tabs__item">
                                <div class="row">
                                    <div class="col">
                                        <button *ngIf="permission.isGranted('Pages.CaseTasks.Create')" type="button" class="btn btn-outline-success m-btn m-btn--icon m-btn--pill pull-right" (click)="createTask()">
                                            <i class="fa fa-plus"></i> New Task
                                        </button>
                                    </div>
                                </div>
                                <hr>
                                <div class="align-items-center">
                                    <!--<Primeng-Datatable-Start>-->
                                    <div class="primeng-datatable-container">
                                        <p-table #tasksTable class="table"
                                            [value]="tasks" *ngIf="tasks.length != 0"
                                            rows="10" [paginator]="true" [scrollable]="true" ScrollWidth="100%"
                                            [responsive]="true">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 200px" pSortableColumn="caseTask.subject">
                                                        {{l('Subject')}}
                                                        <p-sortIcon field="caseTask.subject"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 100px" pSortableColumn="caseTask.priority">
                                                        {{l('Priority')}}
                                                        <p-sortIcon field="caseTask.priority"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="assignerUsername">
                                                        {{l('Created By')}}
                                                        <p-sortIcon field="assignerUsername"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="assigneeUsername">
                                                        {{l('Assigned To')}}
                                                        <p-sortIcon field="assigneeUsername"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="caseTask.status">
                                                        {{l('Status')}}
                                                        <p-sortIcon field="caseTask.status"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 100px"></th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td style="width:200px">
                                                        <span class="ui-column-title"> {{l('Subject')}}</span>
                                                        {{record.caseTask.subject}}
                                                    </td>
                                                    <td style="width:100px">
                                                        <span class="ui-column-title"> {{l('Priority')}}</span>
                                                        <span class="m-badge m-badge--{{getTaskPriorityClass(record.caseTask.priority)}} m-badge--wide m-badge--pills">
                                                            <span class="m--font-light">
                                                                {{l('Enum_Severity_' + record.caseTask.priority)}}
                                                            </span>
                                                        </span>
                                                    </td>
                                                    <td style="width:150px">
                                                        <span class="ui-column-title"> {{l('Created By')}}</span>
                                                        {{record.assignerUsername}}
                                                    </td>
                                                    <td style="width:150px">
                                                        <span class="ui-column-title"> {{l('Assigned To')}}</span>
                                                        {{record.assigneeUsername}}
                                                    </td>
                                                    <td style="width:150px">
                                                        <span class="ui-column-title"> {{l('Status')}}</span>
                                                        <span class="m-badge m-badge--{{getCaseStatusClass(record.caseTask.status)}} m-badge--wide m-badge--pills">
                                                            <span class="m--font-light">
                                                                {{l('Enum_Status_' + record.caseTask.status)}}
                                                            </span>
                                                        </span>
                                                    </td>
                                                    <td style="width:100px">
                                                        <div class="btn-group m-btn-group m-btn-group--pill" dropdown container="body">
                                                            <button type="button" class="btn btn-primary btn-sm"
                                                                (click)="viewTask(record)">
                                                                <i class="fa fa-info-circle"></i> View
                                                            </button>
                                                            <button class="dropdown-toggle btn btn-sm btn-primary dropdown-toggle-split"
                                                                dropdownToggle >
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" *dropdownMenu>
                                                                <li *ngIf="record.caseTask.status === 1">
                                                                    <a href="javascript:;">
                                                                        No actions available
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"
                                                                        *ngIf="permission.isGranted('Pages.CaseTasks.Edit') && showButton(record, 'complete')"
                                                                        (click)="completeTask(record)">
                                                                        <i class="fa fa-check"></i> Complete Task
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"
                                                                        *ngIf="permission.isGranted('Pages.CaseTasks.Reassign') && showButton(record, 'reassign')"
                                                                        (click)="reassignTask(record.caseTask.id)">
                                                                        <i class="fa fa-check-double"></i> Reassign Task
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"
                                                                        *ngIf="permission.isGranted('Pages.CaseTasks.Edit') && showButton(record, 'editDelete')"
                                                                        (click)="editTask(record.caseTask.id)">
                                                                        <i class="fa fa-edit"></i> Edit Task
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"
                                                                        *ngIf="permission.isGranted('Pages.CaseTasks.Delete') && showButton(record, 'editDelete')"
                                                                        (click)="deleteTask(record)">
                                                                        <i class="fa fa-times"></i> Delete Task
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="tasks.length == 0">
                                            {{l('NoData')}}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <span class="total-records-count">
                                                {{l('TotalRecordsCount', tasks.length)}}
                                            </span>
                                        </div>
                                    </div>
                                    <!--<Primeng-Datatable-End>-->
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Pending Tasks
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget2">
                            <div *ngFor="let item of pendingTasks"
                                class="m-widget2__item m-widget2__item--{{getTaskPriorityClass(item.caseTask.priority)}}"
                                (click)="completeTask(item)">
                                <div class="m-widget2__checkbox">

                                </div>
                                <div class="m-widget2__desc">
                                    <span class="m-widget2__text">
                                        {{item.caseTask.subject}}
                                    </span><br>
                                    <span class="m-widget2__user-name">
                                        <a href="javascript:void(0);" class="m-widget2__link">
                                            Excepted Completion Date:
                                            {{item.caseTask.expectedCompletionDate | momentFormat:'LL'}}<br>
                                            <span class="pull-left">
                                                Created By {{item.assignerUsername}}
                                            </span>
                                            <span class="pull-right">
                                                Assigned to {{item.assigneeUsername}}
                                            </span>
                                        </a>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="pendingTasks.length == 0" class="lead">
                            <i class="fa fa-code"></i>
                            No pending tasks for this case.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <app-create-task-modal #createCaseTaskModal (modalSave)="reload()"></app-create-task-modal>
    <app-complete-task-modal #completeTaskModal (modalSave)="reload()"></app-complete-task-modal>
    <app-close-case-modal #closeCaseModal (modalSave)="reload()"></app-close-case-modal>
</div>