<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #taskForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="reassign">Reassign Task </span>
                        <span *ngIf="!reassign && !task.id">New Task</span>
                        <span *ngIf="!reassign && task.id">Edit Task</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Task_subject">{{l("Subject")}}</label>
                            <input type="text" id="Task_subject" class="form-control" [(ngModel)]="task.subject" name="Subject"
                                minlength="2" maxlength="200" required [disabled]="reassign" [readonly]="reassign"/>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="Task_desc">{{l("Description")}}</label>
                            <textarea id="Task_desc" class="form-control" [(ngModel)]="task.description" name="Description" rows="5" [disabled]="reassign" [readonly]="reassign"></textarea>
                        </div>

                        <div class="m-form__group form-group col-md-12">
                            <label for="Task_Priority">Priority</label>
                            <div class="m-radio-inline">
                                <label class="m-radio m-radio--bold m-radio--state-success" [ngClass]="{'m-radio--disabled': reassign}">
                                    <input type="radio" name="Priority" [value]="0" [(ngModel)]="task.priority" required [disabled]="reassign" [readonly]="reassign"> Low
                                    <span></span>
                                </label>
                                <label class="m-radio m-radio--bold m-radio--state-warning" [ngClass]="{'m-radio--disabled': reassign}">
                                    <input type="radio" name="Priority" [value]="1" [(ngModel)]="task.priority" required [disabled]="reassign" [readonly]="reassign"> Medium
                                    <span></span>
                                </label>
                                <label class="m-radio m-radio--bold m-radio--state-danger" [ngClass]="{'m-radio--disabled': reassign}">
                                    <input type="radio" name="Priority" [value]="2"  [(ngModel)]="task.priority" required [disabled]="reassign" [readonly]="reassign"> High
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <!-- <div class="form-group m-form__group col-md-6">
                            <label for="Task_Type">Type</label>
                            <div></div>
                            <select name="Type" class="custom-select form-control" [(ngModel)]="task.type">
                                <option selected="">Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div> -->

                        <div class="form-group m-form__group col-md-6">
                            <label for="TaskExpectedEndDate">{{l("Expected Completion Date")}}</label>
                            <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="task.expectedCompletionDate._d" 
                                id="Task_ExpectedCompletiondate" name="expectedCompletionDate" [disabled]="reassign" [readonly]="reassign">
                        </div>

                        <div class="form-group m-form__group col-md-6">
                            <label for="Assignee">{{l("Assign To")}}</label>
                            <select name="Type" class="custom-select form-control" [(ngModel)]="task.assigneeUserId" required>
                                <option selected="">-- Select a user --</option>
                                <option *ngFor="let item of allusers" value="{{item.value}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!taskForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-check"></i> 
                        <span *ngIf="!reassign">{{l("Assign")}}</span>
                        <span *ngIf="reassign">{{l("Re-assign")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    
</div>
