<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #whitelistForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="whitelist.id">{{l("EditWhitelist")}}</span>
                        <span *ngIf="!whitelist.id">{{l("CreateNewWhitelist")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">




                    <div class="form-group">
                        <label for="Whitelist_AccountNumber">{{l("AccountNumber")}}</label>
                        <input type="text" id="Whitelist_AccountNumber" class="form-control" [(ngModel)]="whitelist.accountNumber" name="AccountNumber" minlength="10" maxlength="10" required />
                    </div>

                    <div class="form-group">
                        <label for="Whitelist_AccountName">{{l("AccountName")}}</label>
                        <input type="text" id="Whitelist_AccountName" class="form-control" [(ngModel)]="whitelist.accountName" name="AccountName" />
                    </div>

                    <div class="form-group m-form__group">
                        <label for="TransactionTypeName">{{l("TransactionType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="TransactionTypeName" name="transactionTypeName" [(ngModel)]="transactionTypeName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTransactionTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setTransactionTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="whitelist.transactionTypeId" [(ngModel)]="whitelist.transactionTypeId" type="text" required hidden>



                    <div class="form-group">
                        <label for="Whitelist_Description">{{l("Description")}}</label>
                        <textarea rows="5" type="text" id="Whitelist_Description" class="form-control" [(ngModel)]="whitelist.description" name="Description" ></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!whitelistForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<transactionTypeLookupTableModal #transactionTypeLookupTableModal (modalSave)="getNewTransactionTypeId()"></transactionTypeLookupTableModal>
		 <userLookupTableModal #userLookupTableModal (modalSave)="getNewApproverUserId()"></userLookupTableModal>
		 
</div>
