<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Whitelists")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("WhitelistsHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Whitelists.Create')" (click)="createWhitelist()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewWhitelist")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getWhitelists()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="AccountNumberFilter">{{l("AccountNumber")}}</label>
									<input type="text" class="form-control" id="AccountNumberFilter" name="accountNumberFilter" [(ngModel)]="accountNumberFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="TransactionTypeNameFilter">({{l("TransactionType")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="TransactionTypeNameFilter" name="transactionTypeNameFilter" [(ngModel)]="transactionTypeNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilter">({{l("User")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getWhitelists($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Whitelists.Edit', 'Pages.Whitelists.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 200px" pSortableColumn="whitelist.accountNumber">
                                        {{l('AccountNumber')}}
                                        <p-sortIcon field="whitelist.accountNumber"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="whitelist.accountName">
                                        {{l('AccountName')}}
                                        <p-sortIcon field="whitelist.accountName"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="transactionTypeName">
                                        {{l('Transaction Type')}}
                                        <p-sortIcon field="transactionTypeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="userName">
                                        {{l('Approver')}}
                                        <p-sortIcon field="userName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="whitelist.approvalDate">
                                        {{l('ApprovalDate')}}
                                        <p-sortIcon field="whitelist.approvalDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="whitelist.isActive">
                                        {{l('Active')}}
                                        <p-sortIcon field="whitelist.isActive"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Whitelists.Edit', 'Pages.Whitelists.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                       (click)="viewWhitelistModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Whitelists.Edit')"
                                                       (click)="createOrEditWhitelistModal.show(record.whitelist.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Whitelists.Edit') && !record.whitelist.isActive"
                                                       (click)="approveWhitelist(record.whitelist)">{{l('Approve')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Whitelists.Edit') && record.whitelist.isActive"
                                                       (click)="suspendWhitelist(record.whitelist)">{{l('Suspend')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Whitelists.Delete')"
                                                       (click)="deleteWhitelist(record.whitelist)">{{l('Delete')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record.whitelist)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:200px">
                                        <span class="ui-column-title"> {{l('AccountNumber')}}</span>
                                        {{record.whitelist.accountNumber}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AccountName')}}</span>
                                        {{record.whitelist.accountName}}
                                    </td>
                                    <td style="width:200px">
                                        <span class="ui-column-title"> {{l('Transaction Type')}}</span>
                                        {{record.transactionTypeName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Approval Name')}}</span>
                                        {{record.userName}}
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ApprovalDate')}}</span>
                                        <span *ngIf="record.whitelist.approvalDate">
                                            {{record.whitelist.approvalDate | momentFormat:'L'}}
                                        </span>
                                        <span *ngIf="!record.whitelist.approvalDate">-</span>
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Active')}}</span>
                                        {{record.whitelist.isActive}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getWhitelists($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditWhitelistModal #createOrEditWhitelistModal (modalSave)="getWhitelists()"></createOrEditWhitelistModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
</div>
