<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #channelForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="channel.id">{{l("EditChannel")}}</span>
                        <span *ngIf="!channel.id">{{l("CreateNewChannel")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Channel_Name">{{l("Name")}}</label>
									<input type="text" id="Channel_Name" class="form-control" [(ngModel)]="channel.name" name="Name"   minlength="2"  maxlength="200"  required/>
								</div>
					
								<div class="form-group">
									<label for="Channel_Description">{{l("Description")}}</label>
									<textarea id="Channel_Description" class="form-control" [(ngModel)]="channel.description" name="Description"    ></textarea>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!channelForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
