<div [@routerTransition]>

    <div class="m-content" [busyIf]="loading">
        <div class="m-portlet ">
            <div class="m-portlet__body  m-portlet__body--no-padding">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::Total Profit-->
                        <div class="m-widget24">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    New Cases
                                </h4><br>
                                <span class="m-widget24__desc">
                                    number of cases identified today
                                </span>
                                <span class="m-widget24__stats m--font-brand">
                                    {{caseDashboardStats.newCases}}
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="m-widget24__change">
                                    Today
                                </span>
                                <span class="m-widget24__number">
                                    
                                </span>
                            </div>
                        </div>

                        <!--end::Total Profit-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Feedbacks-->
                        <div class="m-widget24">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    In progress
                                </h4><br>
                                <span class="m-widget24__desc">
                                    cases currently attended to
                                </span>
                                <span class="m-widget24__stats m--font-info">
                                    {{caseDashboardStats.pendingCases}}
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="m-widget24__change">
                                    
                                </span>
                                <span class="m-widget24__number">
                                    
                                </span>
                            </div>
                        </div>

                        <!--end::New Feedbacks-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Orders-->
                        <div class="m-widget24">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    Outstanding
                                </h4><br>
                                <span class="m-widget24__desc">
                                    cases yet to be attended to
                                </span>
                                <span class="m-widget24__stats m--font-danger">
                                    {{caseDashboardStats.outstandingCases}}
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="m-widget24__change">
                                    
                                </span>
                                <span class="m-widget24__number">
                                    
                                </span>
                            </div>
                        </div>

                        <!--end::New Orders-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Users-->
                        <div class="m-widget24">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    Assigned tasks
                                </h4><br>
                                <span class="m-widget24__desc">
                                    number of pending tasks
                                </span>
                                <span class="m-widget24__stats m--font-success">
                                    {{caseDashboardStats.assignedTasks}}
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar m--bg-success" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="m-widget24__change">
                                    
                                </span>
                                <span class="m-widget24__number">
                                    
                                </span>
                            </div>
                        </div>

                        <!--end::New Users-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">

                        <!--begin:: Widgets/Support Tickets -->
                        <div class="m-portlet m-portlet--full-height ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Recent Cases
                                        </h3>
                                    </div>
                                </div>
                                <!-- <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                                            <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
                                                <i class="la la-ellipsis-h m--font-brand"></i>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav">
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                        <span class="m-nav__link-text">Activity</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                        <span class="m-nav__link-text">Messages</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                        <span class="m-nav__link-text">FAQ</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                        <span class="m-nav__link-text">Support</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget3">
                                    <div class="m-widget3__item" *ngFor="let item of recentCases">
                                        <div class="m-widget3__header">
                                            <div class="m-widget3__user-img">
                                            </div>
                                            <div class="m-widget3__info">
                                                <span class="m-widget3__username">
                                                    {{item.customerName}}
                                                    <span class="m-badge m-badge--{{getStatusClass(item.status)}}">
                                                        {{l('Enum_Status_' + item.status)}}
                                                    </span>
                                                </span><br>
                                                <span class="m-widget3__time">
                                                    {{item.timeAgo}}
                                                </span>
                                            </div>
                                            <span class="m-widget3__status pt-0 m--font-info">
                                                <button class="btn btn-sm btn-primary m-btn--pill" (click)="viewCase(item.id)">
                                                    <i class="fa fa-edit"></i>
                                                    Update
                                                </button>
                                            </span>
                                        </div>
                                        <div class="m-widget3__body">
                                            <p class="m-widget3__text" [innerHtml]="item.description"></p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="recentCases.length == 0" class="lead">
                                    <i class="fa fa-code"></i>
                                    No new case has been identified.
                                </div>
                            </div>
                        </div>
        
                        <!--end:: Widgets/Support Tickets -->
            </div>
            <div class="col-xl-6">

                <!--begin:: Widgets/Tasks -->
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Tasks
                                </h3>
                            </div>
                        </div>
                        <!-- <div class="m-portlet__head-tools">
                            <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab">
                                        Today
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content1" role="tab">
                                        Week
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab3_content1" role="tab">
                                        Month
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="m-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="m_widget2_tab1_content">
                                <div class="m-widget2">
                                    <div *ngFor="let item of tasks" class="m-widget2__item m-widget2__item--{{getTaskPriorityClass(item.priority)}}" 
                                        (click)="completeTask(item.taskId)">
                                        <div class="m-widget2__checkbox">
                                            <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                <input type="checkbox" [checked]="false">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="m-widget2__desc">
                                            <span class="m-widget2__text">
                                                {{item.subject}}
                                                <span class="m-badge m-badge--{{getStatusClass(item.status)}}">
                                                    {{l('Enum_Status_' + item.status)}}
                                                </span>
                                            </span><br>
                                            <span class="m-widget2__user-name">
                                                <a href="javascript:void(0);" class="m-widget2__link">
                                                    <i>{{item.timeSpan}}</i><br>
                                                    By {{item.assignedBy}}
                                                </a>
                                            </span>
                                        </div>
                                        <!-- <div class="m-widget2__actions">
                                            <div class="m-widget2__actions-nav">
                                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                                                    <a href="#" class="m-dropdown__toggle">
                                                        <i class="la la-ellipsis-h"></i>
                                                    </a>
                                                    <div class="m-dropdown__wrapper" style="z-index: 101;">
                                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 13.5px;"></span>
                                                        <div class="m-dropdown__inner">
                                                            <div class="m-dropdown__body">
                                                                <div class="m-dropdown__content">
                                                                    <ul class="m-nav">
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link">
                                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                                <span class="m-nav__link-text">Activity</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link">
                                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                                <span class="m-nav__link-text">Messages</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link">
                                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                                <span class="m-nav__link-text">FAQ</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link">
                                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                                <span class="m-nav__link-text">Support</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tasks.length == 0" class="lead">
                            <i class="fa fa-code"></i>
                            You don't have any pending task.
                        </div>
                    </div>
                </div>

                <!--end:: Widgets/Tasks -->
            </div>
            
        </div>
    </div>

    
    <app-complete-task-modal #completeTaskModal (modalSave)="getDashboardStats()" (modalCancel)="getDashboardStats()"></app-complete-task-modal>
</div>