.welcome_container {
    margin-top: 15vh;
    background: #5867dd;
    padding: 10px 10px 10px 10px;
}

.welcome_h1 {
    margin-bottom: 5vh;
}

.m-nav-grid {
    background: #fff;
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text {
    color: #000;
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text:hover {
    color: #000;
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item:hover  {
    background: rgba(88, 103, 221, 0.1);
}

.m-nav-grid__item:hover {
    background: rgba(88, 103, 221, 0.1);
}

.m-widget3 .m-widget3__item .m-widget3__header .m-widget3__info{
    padding-left: 0;
}
