<div [@routerTransition]>

    <div class="container welcome_container" style="margin-top: 9%">
        <div class="text-center welcome_h1">
            <h1 class="" style="font-size: 3em; font-weight: 100;">
                <br>
                <small class="text-white">Fraud Manager</small>
            </h1>
        </div>
        <div class="">
            <div class="m-nav-grid">
                <div class="m-nav-grid__row">
                    <a *ngIf="isGranted('Pages.Tenant.Dashboard')" class="m-nav-grid__item" [routerLink]="[ '../dashboard' ]">
                        <i class="m-nav-grid__icon flaticon-line-graph"></i>
                        <span class="m-nav-grid__text">{{l('Dashboard')}}</span>
                    </a>
                    <div class="m-nav-grid__item">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow" m-dropdown-toggle="click" aria-expanded="true">
                            <a class=" m-dropdown__toggle dropdown-toggle">
                                <i class="m-nav-grid__icon flaticon-interface-1"></i>
                                <span class="m-nav-grid__text">Rule Configuration</span>
                            </a>
                            <div class="m-dropdown__wrapper" style="z-index: 101;">
                                <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <!--begin::Nav-->
                                            <ul class="m-nav">
                                                <li *ngIf="isGranted('Pages.Channels')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '../channels/channels' ]">
                                                        <i class="m-nav__link-icon flaticon-map"></i>
                                                        <span class="m-nav__link-text">Channels</span>
                                                    </a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.TransactionTypes')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '../transactionTypes/transactionTypes' ]">
                                                        <i class="m-nav__link-icon 	flaticon-list"></i>
                                                        <span class="m-nav__link-text">Transaction Types</span>
                                                    </a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.Payloads')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '../payloads/payloads' ]">
                                                        <i class="m-nav__link-icon flaticon-apps"></i>
                                                        <span class="m-nav__link-text">Data Points</span>
                                                    </a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.Rules')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '../rules/rules' ]">
                                                        <i class="m-nav__link-icon flaticon-book                                                                            "></i>
                                                        <span class="m-nav__link-text">Rules</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Nav-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-nav-grid__item">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow" m-dropdown-toggle="click" aria-expanded="true">
                            <a class=" m-dropdown__toggle dropdown-toggle">
                                <i class="m-nav-grid__icon flaticon-suitcase"></i>
                                <span class="m-nav-grid__text">Case Management</span>
                            </a>
                            <div class="m-dropdown__wrapper" style="z-index: 101;">
                                <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <!--begin::Nav-->
                                            <ul class="m-nav">
                                                <li *ngIf="isGranted('Pages.Cases')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '../cases/cases' ]">
                                                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                                                        <span class="m-nav__link-text">Cases</span>
                                                    </a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.Whitelists')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '../whitelists/whitelists' ]">
                                                        <i class="m-nav__link-icon 	flaticon-list-3"></i>
                                                        <span class="m-nav__link-text">Whitelists</span>
                                                    </a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.Blacklists')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '../blacklists/blacklists' ]">
                                                        <i class="m-nav__link-icon flaticon-signs-1"></i>
                                                        <span class="m-nav__link-text">Blacklists</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Nav-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-nav-grid__item">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow" m-dropdown-toggle="click" aria-expanded="true">
                            <a class=" m-dropdown__toggle dropdown-toggle">
                                <i class="m-nav-grid__icon flaticon-settings"></i>
                                <span class="m-nav-grid__text">Administration</span>
                            </a>
                            <div class="m-dropdown__wrapper" style="z-index: 101;">
                                <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <!--begin::Nav-->
                                            <ul class="m-nav">
                                                <li *ngIf="isGranted('Pages.Administration.Roles')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '/app/admin/roles' ]">
                                                        <i class="m-nav__link-icon flaticon-users"></i>
                                                        <span class="m-nav__link-text">Roles</span>
                                                    </a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.Administration.Users')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '/app/admin/users' ]">
                                                        <i class="m-nav__link-icon 	flaticon-user"></i>
                                                        <span class="m-nav__link-text">Users</span>
                                                    </a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.Administration.AuditLogs')" class="m-nav__item">
                                                    <a href="" class="m-nav__link" [routerLink]="[ '/app/admin/auditLogs' ]">
                                                        <i class="m-nav__link-icon flaticon-folder-1"></i>
                                                        <span class="m-nav__link-text">Audit Logs</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Nav-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span style="float:right; margin-top: 10px;">
                <i>
                    <small>powered by PwC</small>
                </i>
            </span>
        </div>
        <!--  -->
        <div class="row welcome_second_row">

        </div>
    </div>
</div>