<footer class="m-grid__item m-footer ">
    <div class="m-container {{ui.getContainerClass()}} m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    Case Management | v1.0.0
                </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">

            </div>
        </div>
    </div>
</footer>
