<!-- BEGIN: Topbar -->
<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
    <nav class="m-stack__item m-topbar__nav-wrapper" [attr.aria-label]="l('TopMenu')">
        <ul class="m-topbar__nav m-nav m-nav--inline"
            aria-label="TopMenu"
            role="menubar">
            <!-- <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" data-dropdown-persistent="true">
                <a [routerLink]="['/']" class="m-nav__link ">
                    <span class="m-nav__link-icon">
                        <span class="m-nav__link-icon-wrapper">
                            <i class="flaticon-buildings"></i>
                        </span>
                    </span>
                </a>
            </li>
            <li *ngIf="languages.length > 1" class="m-nav__item m-topbar__languages m-dropdown m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light m-list-search--skin-light" m-dropdown-toggle="click">
                <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
                    <span class="m-nav__link-text">
                        <i [class]="currentLanguage.icon"></i>
                        <span class="m-menu__link-text">
                            {{currentLanguage.displayName}}
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav m-nav--skin-light">
                                    <ng-container *ngFor="let language of languages">
                                        <li class="m-nav__item" [ngClass]="{'m-nav__item--active': language.active}">
                                            <a href="javascript:;" (click)="changeLanguage(language.name)" class="m-nav__link">
                                                <span class="m-nav__link-icon">
                                                    <span class="m-nav__link-icon-wrapper">
                                                        <i [class]="language.icon"></i>
                                                    </span>
                                                </span>
                                                <span class="m-nav__link-title m-topbar__language-text m-nav__link-text">{{language.displayName}}</span>
                                            </a>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->

            <li headerNotifications class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" data-dropdown-persistent="true" id="header_notification_bar"></li>

            <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                <a href="#" class="m-nav__link m-dropdown__toggle">
                    <span class="m-topbar__username">
                        <i *ngIf="isImpersonatedLogin" class="fa fa-reply m--font-danger"></i>
                        <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">{{tenancyName}}\</span>{{userName}}
                    </span>
                    <span class="m-topbar__userpic">
                        <img *ngIf="profilePicture" alt="" class="header-profile-picture m--img-rounded m--marginless m--img-centered" [src]="profilePicture" />
                    </span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center" [ngStyle]="{ 'background': 'url(' + appRootUrl() + 'assets/metronic/assets/demo/' + currentTheme.baseSettings.layout.themeColor + '/media/img/misc/user_profile_bg.jpg)', 'background-size': 'cover'}">
                            <div class="m-card-user m-card-user--skin-dark">
                                <div class="m-card-user__pic">
                                    <img alt="" class="header-profile-picture m--img-rounded m--marginless m--img-centered" [src]="profilePicture" />
                                </div>
                                <div class="m-card-user__details">
                                    <span class="m-card-user__name m--font-weight-500">
                                        {{shownLoginName}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-dropdown__body">
                            <nav class="m-dropdown__content" [attr.aria-label]="l('UserAccount')">
                                <ul class="m-nav m-nav--skin-light"
                                    [attr.aria-label]="l('UserAccount')"
                                    role="menu">
                                    <li *ngIf="isImpersonatedLogin" class="m-nav__item" role="none">
                                        <a href="javascript:;" class="m-nav__link" (click)="backToMyAccount()"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">
                                            <i class="m-nav__link-icon fa fa-reply m--font-danger"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span id="UserProfileBackToMyAccountButton" class="m-nav__link-text">
                                                        {{l("BackToMyAccount")}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li *ngIf="isImpersonatedLogin" class="m-nav__separator m-nav__separator--fit" role="none"></li>
                                    <li class="m-nav__item" role="none">
                                        <a href="javascript:;" class="m-nav__link" (click)="showLinkedAccounts()"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">
                                            <i class="m-nav__link-icon flaticon-user-settings"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span id="ManageLinkedAccountsLink" class="m-nav__link-text">
                                                        {{l("ManageLinkedAccounts")}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                        <ul id="RecentlyUsedLinkedUsers" class="m-nav linked-accounts" *ngIf="recentlyLinkedUsers"
                                            [attr.aria-label]="l('LinkedAccounts')"
                                            role="menu">
                                            <li *ngFor="let linkedUser of recentlyLinkedUsers" class="m-nav__item" role="none">
                                                <a href="javascript:;" (click)="switchToLinkedUser(linkedUser)" class="m-nav__link"
                                                   role="menuitem"
                                                   aria-haspopup="true"
                                                   aria-expanded="false"
                                                   tabindex="-1">
                                                    <span class="m-nav__link-bullet m-nav__link-bullet--dot">
                                                        <span></span>
                                                    </span>
                                                    <span class="m-nav__link-text">
                                                        {{getShownUserName(linkedUser)}}
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit" role="none"></li>
                                    <li class="m-nav__item" role="none">
                                        <a href="javascript:;" class="m-nav__link" (click)="changePassword()"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">
                                            <i class="m-nav__link-icon flaticon-more-v6"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span id="UserProfileChangePasswordLink" class="m-nav__link-text">
                                                        {{l("ChangePassword")}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" role="none">
                                        <a href="javascript:;" class="m-nav__link" (click)="showLoginAttempts()"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">
                                            <i class="m-nav__link-icon flaticon-list"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span id="ShowLoginAttemptsLink" class="m-nav__link-text">
                                                        {{l("LoginAttempts")}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" role="none">
                                        <a href="javascript:;" class="m-nav__link" (click)="changeProfilePicture()"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">
                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span id="UserProfileChangePictureLink" class="m-nav__link-text">
                                                        {{l("ChangeProfilePicture")}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" role="none">
                                        <a href="javascript:;" class="m-nav__link" (click)="changeMySettings()"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">
                                            <i class="m-nav__link-icon flaticon-cogwheel"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span id="UserProfileMySettingsLink" class="m-nav__link-text">
                                                        {{l("MySettings")}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" *ngIf="!isGranted('Pages.Administration.UiCustomization')" role="none">
                                        <a routerLink="admin/ui-customization" class="m-nav__link"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">
                                            <i class="m-nav__link-icon flaticon-medical"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span class="m-nav__link-text">
                                                        {{l("VisualSettings")}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" role="none">
                                        <a href="javascript:;" (click)="downloadCollectedData()" class="m-nav__link"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">
                                            <i class="m-nav__link-icon flaticon-download"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span class="m-nav__link-text">
                                                        {{l("DownloadCollectedData")}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit" role="none"></li>
                                    <li class="m-nav__item" role="none">
                                        <a href="javascript:;" (click)="logout()" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
                                           role="menuitem"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           tabindex="-1">{{l("Logout")}}</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </li>
            <!-- <li *ngIf="chatEnabled && !chatConnected" class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width">
                <a href="javascript:;" class="m-nav__link"
                   role="menuitem"
                   aria-haspopup="true"
                   aria-expanded="false"
                   tabindex="-1">
                    <span class="m-nav__link-icon">
                        <span class="m-nav__link-icon-wrapper">
                            <img *ngIf="!chatConnected" src="./assets/common/images/loading.gif" style="width: 23px;" tooltip="{{l('ChatIsConnecting')}}" placement="left" />
                        </span>
                    </span>
                </a>
            </li>
            <li [hidden]="!chatEnabled || !chatConnected" id="m_quick_sidebar_toggle" class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width">
                <a href="javascript:;" class="m-nav__link m-dropdown__toggle"
                   role="menuitem"
                   aria-haspopup="true"
                   aria-expanded="false"
                   tabindex="-1">
                    <span class="m-nav__link-icon">
                        <span class="m-nav__link-icon-wrapper">
                            <i class="flaticon-chat-2"></i>
                        </span>
                    </span>
                    <span class="m-badge m-badge--danger" [ngClass]="{'d-none': !unreadChatMessageCount}" id="UnreadChatMessageCount">{{unreadChatMessageCount}}</span>
                </a>
            </li> -->
        </ul>
    </nav>
</div>
<!-- END: Topbar -->
