<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #payloadPropertyForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="payloadProperty.id">{{l("EditPayloadProperty")}}</span>
                        <span *ngIf="!payloadProperty.id">{{l("CreateNewPayloadProperty")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="PayloadName">{{l("Payload")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="PayloadName" name="payloadName" [(ngModel)]="payloadName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectPayloadModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setPayloadIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="payloadProperty.payloadId" [(ngModel)]="payloadProperty.payloadId" type="text" required hidden>
		 

								<div class="form-group">
									<label for="PayloadProperty_Name">{{l("Name")}}</label>
									<input type="text" id="PayloadProperty_Name" class="form-control" [(ngModel)]="payloadProperty.name" name="Name"   minlength="2"  maxlength="200" />
								</div>
					
								<div class="form-group">
									<label for="PayloadProperty_DataType">{{l("DataType")}}</label>
									<select class="form-control" name="DataType" id="PayloadProperty_DataType" [(ngModel)]="payloadProperty.dataType">
									<option value="0">{{l('Enum_DataTypes_0')}}</option>
									<option value="1">{{l('Enum_DataTypes_1')}}</option>
									<option value="2">{{l('Enum_DataTypes_2')}}</option>
									<option value="3">{{l('Enum_DataTypes_3')}}</option>
									</select>
								</div>
					
								<div class="form-group">
									<label for="PayloadProperty_Description">{{l("Description")}}</label>
									<input type="text" id="PayloadProperty_Description" class="form-control" [(ngModel)]="payloadProperty.description" name="Description"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!payloadPropertyForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<payloadLookupTableModal #payloadLookupTableModal (modalSave)="getNewPayloadId()"></payloadLookupTableModal>
		 
</div>
