<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #taskCForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Complete Task
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button *ngIf="showGoToCaseButton" type="button" class="btn btn-outline-primary m-btn m-btn--icon m-btn--pill btn-sm mb-2" (click)="goToCase()">
                        <i class="fa fa-info"></i> Go to Case
                    </button>
                    <div class="form-row">
                        <div class="form-group col-md-11">

                            <label for="Task_subject">{{l("Subject")}}</label>
                            <input type="text" id="Task_subject" class="form-control" [(ngModel)]="task.subject" name="Subject"
                                 readonly/>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="Task_subject">{{l("Priority")}}</label>
                            <span class="m-badge m-badge--{{getTaskPriorityClass()}} m-badge--wide m-badge--pills">
                                <span class="m--font-light">
                                    {{l('Enum_Severity_' + task.priority)}}
                                </span>
                            </span>
                            
                        </div>

                        <div class="form-group col-md-12">
                            <label for="Task_desc">{{l("Description")}}</label>
                            <textarea id="Task_desc" class="form-control" [(ngModel)]="task.description" name="Description" rows="5" readonly></textarea>
                        </div>

                        <div class="form-group m-form__group col-md-6">
                            <label for="TaskExpectedEndDate">{{l("Expected Completion Date")}}</label>
                            <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="task.expectedCompletionDate._d" 
                                id="Task_ExpectedCompletiondate" name="expectedCompletionDate" readonly>
                        </div>

                        <div class="form-group m-form__group col-md-6">
                            <label for="AssignedBy">{{l("Assign By")}}</label>
                            <input type="text" id="Task_assignedBy" class="form-control" [(ngModel)]="assignerName" name="AssignedBy"
                                 readonly/>
                        </div>

                        <div *ngIf="viewOnly && task.status == 1" class="form-group m-form__group col-md-6">
                            <label for="TaskEndDate">{{l("Date Completed")}}</label>
                            <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="task.actualCompletionDate._d" 
                                id="Task_Completiondate" name="completionDate" readonly>
                        </div>

                        <div *ngIf="viewOnly && task.status == 1" class="form-group m-form__group col-md-6">
                            <label for="AssignedTo">{{l("Assign To")}}</label>
                            <input type="text" id="Task_assignedTo" class="form-control" [(ngModel)]="assigneeName" name="AssignedTo"
                                 readonly/>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="Task_Comment">{{l("Comments")}}</label>
                            <textarea id="Task_Comment" class="form-control" [(ngModel)]="task.comment" name="Comments" required rows="7" 
                                [disabled]="viewOnly" [readonly]="viewOnly"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button *ngIf="!viewOnly" type="submit" class="btn btn-primary" [disabled]="!taskCForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> 
                        <span>{{l("Save Draft")}}</span>
                    </button>
                    <button *ngIf="!viewOnly" type="button" (click)="complete()" class="btn btn-success" [disabled]="!taskCForm.form.valid" [buttonBusy]="completing" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-check"></i> 
                        <span>{{l("Complete")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
